body {
  background: rgb(83,83,83);
  /*background: linear-gradient(rgba(33,33,33,1) 0%, rgb(46, 46, 46) 15%, rgb(26, 26, 26) 65%);*/
  /*background: linear-gradient(rgba(33,33,33,1) 0%, rgb(40, 40, 40) 15%, rgb(26, 26, 26) 65%);*/
  
  background: rgb(48,53,61);
  background-attachment: fixed;
  
  
  /*background-color: rgb(53, 56, 62);
  */
/*
background-color: rgb(51, 53, 59);
  beyond unreal top - black
  middle rgb(66, 70, 77)
  main body rgb(45,50,56)

  post 1 56,60,66
  post 2 72 77 86

  valve blue text
97 171 224

card header bg
37 41 45
  */
}

.black-shadow {
  /*box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);*/
  box-shadow: 0px 0px 6px rgba(25,25,25, 0.6);
}

.card-sectiontitle-bgdark {
  /*background-color: rgb(37,41,45);*/
  background-color: rgb(33,37,41);
}

.card-body-post-a {
  background-color: rgb(54, 57, 63);
}

.card-body-post-b {
  background-color: rgb(67, 70, 75);
}

.card-body-post-subtitle-link {
  text-decoration: none;
}
.card-body-post-subtitle-link:hover {
  text-decoration: underline;
  text-decoration-color: rgb(66, 153, 212);
  text-underline-offset: 3px;
}
.card-text {
  color: rgb(210, 210, 210);
}

.card-header {
  color:rgb(220, 220, 220);
  font-weight: 500;
}

.h6-font-weight-normal {
  font-weight: 400;
}

h6, .card-body-post-subtitle-link {
  color:rgb(66, 153, 212);
}


.accordion-button-installer {
  background-color: rgb(54, 57, 63);
  color: rgb(210, 210, 210);
}
.accordion-body-installer {
  background-color: rgb(54, 57, 63);
}
.accordion-button:not(.collapsed) {
  color: rgb(210, 210, 210);
  background-color: rgb(54, 57, 63);
}


.nav-link {
  font-weight: 500;
}
.nav-link:hover {
  text-decoration: underline;
}